{% extends 'main/base.html' %}

{% block content %}
<main>
    <a type="button" href="{% url 'main:messenger_create' %}" class="btn btn-outline-primary">Создать новую
        рассылку</a>


    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
        <div class="col-md-6">
            <h2 class="text-body-emphasis">Существующие рассылки</h2>
            <p>Примеры наших рассылок:</p>
            <h5><a href="{% url 'main:messenger_list' %}">Наши рассылки</a></h5>

            <h2 class="text-body-emphasis">Наши клиенты</h2>
            <h5><a href="#">Список контактов</a></h5>
        </div>


        <div class="col-md-6">
            <h2 class="text-body-emphasis">Статистика</h2>
            <ul class="list-unstyled ps-0">
                <li>
                    <p>Количество наших рассылок: </p>
                </li>
                <li>
                    <p>Мы рассылаем спам уже n людям </p>
                </li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}