{% extends 'main/base.html' %}

{% block content %}
    <main>
        <h1 class="text-body-emphasis">{{ object }}</h1>
        <p class="fs-5 col-md-12">{{ object.subject_body }}</p>

        <hr class="col-3 col-md-2 mb-5">

        <a type="button" href="{% url 'main:messenger_delete' object.pk %}" class="btn btn-outline-danger">Удалить
            рассылку</a>
        <a type="button" href="{% url 'main:messenger_update' object.pk %}" class="btn btn-outline-warning">Редактировать
            рассылку</a>
        <a type="button" href="{% url 'main:messenger_list' %}" class="btn btn-outline-primary">Вернуться к списку
            рассылок</a>

    </main>
{% endblock %}